<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/general.html :: nav"/>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h1 class="text-center">
                Edit product
            </h1>
            <div style="display:flex;">
                <div th:each="picture : ${product.pictures}">
                <img style="width:200px;height:300px;" th:src="@{${'~/static/users/' + product.user.id + '/products/' + product.id + '/' + picture}}"/>
                    <form th:action="@{${'~/product/edit/' + product.id + '/' + picture[0]}}" method="post"
                          enctype="multipart/form-data">
                <input th:id="${picture[0]}" type="file" name="image" accept="image/png, image/jpeg" />
                        <input type="hidden" name="_csrf"
                               th:value="${_csrf.token}" />
                        <div class="text-center">
                            <input class="btn btn-primary" type="submit" value="Edit">
                        </div>
                    </form>
                </div>
            </div>
            <form th:action="@{${'~/product/edit/' + product.id}}" method="post"
                  enctype="multipart/form-data">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="name">Name</label>
                    <input class="form-control" th:classappend="${nameMessage} ? is-invalid : ''" type="text" name="name" id="name" th:value="${product.name}">
                    <div th:if="${nameMessage}" class="invalid-feedback" th:text="${nameMessage}"/>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="description">Description</label>
                    <input class="form-control" th:classappend="${descriptionMessage} ? is-invalid : ''" type="text" name="description" id="description" th:value="${product.description}">
                    <div th:if="${descriptionMessage}" class="invalid-feedback" th:text="${descriptionMessage}"/>
                </div>
                <input type="hidden" name="_csrf"
                       th:value="${_csrf.token}" />
                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Edit">
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>