<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head">
</head>
<body>
<div th:replace="fragments/general.html :: nav"/>
<div class=" card-group m-2">
    <div th:each="product : ${products}">
        <div class="card m-2 h-100" style="width: 18rem;">
            <img th:if="${!product.getPictures().isEmpty()}" class="card-img-top" th:src="@{${'static/users/' + product.user.id + '/products/' + product.id + '/' +product.getPictures()[0]}}">
            <div class="card-body">
                <h5 th:text="${product.name}" class="card-title"/>
                <p th:text="${product.description}" class="card-text"/>
                <p th:text="${'By ' + product.user.username}"class="card-text"/>
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>