<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head th:replace="fragments/general.html :: head">
    <script>
        var el = document.getElementById("add-product");
        function kik() {
            var $fileUpload = $("input[type='file']");
            if ($fileUpload.get(0).files.length>4){
            alert("You can only upload a maximum of 4 files");
        }}
        el.addEventListener("click",kik);
        function validateOnSubmit() {
            var $fileUpload = $("input[type='file']");
            if ($fileUpload.get(0).files.length>4) {
                return false;}
            return true;
        }
    </script>
    </head>
<body>
<div th:replace="fragments/general.html :: nav"/>
<div class="container">
    <div class="row">
        <div class="col"></div>
    <div class="col">
        <h1 class="text-center">
            Register new product
        </h1>
        <form action="/product" method="post"
                enctype="multipart/form-data"
                onsubmit="return validateOnSubmit()">
            <div class="form-group mx-sm-3 mb-2">
                <label for="name">Name</label>
                <input class="form-control" th:classappend="${nameMessage} ? is-invalid : ''" type="text" name="name" id="name" th:value="${product.name}">
                <div th:if="${nameMessage}" class="invalid-feedback" th:text="${nameMessage}"/>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="description">Description</label>
                <input class="form-control" th:classappend="${descriptionMessage} ? is-invalid : ''" type="text" name="description" id="description" th:value="${product.description}">
                <div th:if="${descriptionMessage}" class="invalid-feedback" th:text="${descriptionMessage}"/>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label>Photos: </label>
                <input type="file" th:classappend="${filesMessage} ? is-invalid : ''" name="image" accept="image/png, image/jpeg" multiple/>
                <div th:if="${filesMessage}" th:text="${filesMessage}"/>

            </div>
            <input type="hidden" name="_csrf"
                   th:value="${_csrf.token}" />
            <div class="text-center">
                <input id="add-product" class="btn btn-primary" type="submit" value="Add product">
            </div>
        </form>
    </div>
        <div class="col"></div>
    </div>
</div>